.NetoSocial {
  width: 1200px;
  margin: 0 auto;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(245, 246, 248);
}

.Toolbar__logo {
  font-size: 22px;
}

.Toolbar__logo {
  font-size: 22px;
  color: #000000;
  text-decoration: none;
}

.ToolbarForm>input {
  box-sizing: border-box;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 16px;
}

.ToolbarForm__button, .ToolbarProfile__button {
  height: 42px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid rgb(10, 175, 112);
  color: rgb(10, 175, 112);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.ToolbarProfile {
  display: flex;
  align-items: center;
}

.ToolbarProfile__name {
  font-weight: bold;
}

.ToolbarProfile__avatar {
  margin: 0px 10px;
}

.ToolbarProfile__avatar img {
  max-height: 40px;
  border-radius: 50%;
  display: block;
}

.ToolbarProfile__button {
  border-color: rgb(175, 10, 32);
  color: rgb(175, 10, 32);
}

.Welcome {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(223, 231, 248);
  margin: 0 auto;
  padding: 50px 20px;
  border-radius: 10px;
  color: rgb(0, 3, 17);
}

.NewsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.NewsList__link {
  text-decoration: none;
  color: #000000;
}

.News {
  width: 400px;
  border: 1px solid rgb(195, 195, 196);
  border-radius: 5px;
  margin-bottom: 20px;
}

.News__image img {
  display: block;
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.News__title {
  margin: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.News__content {
  font-size: 18px;
  margin: 20px 20px;
}

.NewsView {
  display: flex;
  justify-content: center;
}

.Page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Page404 h2 {
  font-size: 65px;
}